/* Globals */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&family=Redressed&display=swap');

:root {
  --color-primary-accent: #710f88af;
  --color-primary-dark: #710f88;
  --color-primary-light: #710f886f;
  --color-primary-faded: #710f881f;

  --color-dark-gradient: linear-gradient(
    31deg,
    rgba(0, 0, 0, 0.7) 7%,
    rgba(80, 80, 80, 0.7) 65%,
    rgba(160, 160, 160, 0.7) 100%
  );
  --color-light-gradient: linear-gradient(
    211deg,
    rgba(30, 30, 30, 0.7) 7%,
    rgba(100, 100, 100, 0.7) 35%,
    rgba(160, 160, 160, 0.7) 100%
  );
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;

}

html:focus {
  outline: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

.show-block {
  display: block;
}

hr {
    background: rgba(0, 0, 0, 0.5) ;
}

.no-select{
  user-select: none;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #505050b3;
}

::selection {
  color: white;
  background: #505050b3;
}

@media screen and (min-width: 650px) {
  /* width */
  ::-webkit-scrollbar {
    width: 0.7em;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #e8e8e8;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #afafaf; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #505050b3; 
  }
}